.favorite-movies-container {
    padding: 20px;
}
.favorite-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.movie-card {
    width: calc(33.33% - 10px); /* Adjust the width as needed */
    margin-bottom: 20px; /* Add margin between movie cards */
    box-sizing: border-box; /* Ensure padding and borders are included in the width */
}  
.movie-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}
.movie-card-details {
    padding: 10px;
    background-color: #f5f5f5;
    text-align: center;
}

.movie-card-details h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}